<%= erb :'main/header' %>

<section id='github-auth'>
	<p>To get started login with your Github Account!</p>
	<p><a href="https://github.com/login/oauth/authorize?client_id=<%= @client_id %>">Authorize!</a></p>
</section>